.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #000;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: 500;

}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}

.link--seeCollection {
  background: #123850;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.paragraph--seeCollection {
  margin-left: 5em;
}
@media (max-width: 1347px) {
  .paragraph--seeCollection {
    margin-left: 3em;
  }
}
@media (max-width: 1260px) {
  .paragraph--seeCollection {
    margin-left: 1.5em;
  }
}
@media (max-width: 1124px) {
  .paragraph--seeCollection {
    margin-left: 0.5em;
  }
}

.paragraph--idiom,
.paragraph--money,
.paragraph--location,
.paragraph--phoneNumber {
  color: #000;
  position: relative;
}

.paragraph--location::after {
  position: absolute;
  content: url('assets/location.png');
  width: 16px;
  height: 20px;
  right: -25px;
  top: 0;
}

.paragraph--money {
  margin-right: 5em;
  margin-left: 2em;
}

.paragraph--idiom::after,
.paragraph--money::after {
  position: absolute;
  content: url('assets/arrow.png');
  width: 13px;
  height: 6px;
  right: -20px;
  top: -3px;
}

.paragraph--idiom::before{
  position: absolute;
  content: url('assets/mxn.png');
  max-width: 17px;
  max-height: 23px;
  left: -2em;
}
.wrapper--text20px {
  font-size: 20px;
}

.container--footerbotton {
  background: #418689;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper--footerbotton {
  margin: 0;
  padding: 0.3em 0;
  color: #fff;
}

.paragraph--footerbotton {
  margin: 0;
  font-size: 12px;
}

.wrapper--labelNewsletter {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.container--labelNewsletter {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

}

.paragraph--labelNewsletter {
  margin: 0;
  margin-top: 0.5em;
}
.paragraph--menuItemTitle2, 
.paragraph--menuItemTitle {
  margin: 0;
  margin-left: 2.5em;
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.paragraph--menuItemTitle2{
  margin-left: 0;
  margin-bottom: 0.7em;
} 